<nav class="navUser{{#unless theme_settings.halo_menu_tab}} no-menu-tab{{/unless}}{{#if theme_settings.halo_top_bar_promotion_text '==' ''}} no-top-promotion{{/if}}">
    <div class="top-menu-tab" data-menu-tab>
        {{#if theme_settings.halo_menu_tab}}
            <ul class="disable-srollbar">
                <li class="active" data-load-page="/">
                    <a href="{{urls.home}}">
                        {{theme_settings.halo_menu_tab_title_1}}
                    </a>
                </li>
                <li data-load-page="{{dashcase (toLowerCase theme_settings.halo_menu_tab_title_2)}}">
                    <a href="{{theme_settings.halo_landing_page_link}}">
                        {{theme_settings.halo_menu_tab_title_2}}
                    </a>
                </li>
            </ul>
        {{else}}
            <ul class="disable-srollbar no-menu-tab">
                <li class="active" data-load-page="/">
                    <a href="{{urls.home}}">
                        {{theme_settings.halo_menu_tab_title_1}}
                    </a>
                </li>
            </ul>
        {{/if}}
    </div>
    {{#if theme_settings.halo_header_layout '==' 'header_layout_2'}}
        <ul class="navUser-section navUser-section--alt">
            {{#if theme_settings.halo_top_bar_promotion}}
                <li class="navUser-item navUser-item--text">
                    <div class="navUser-item__item">
                        <span class="navUser-action">
                            {{{theme_settings.halo_top_bar_promotion_text}}}
                        </span>
                    </div>
                </li>
            {{/if}}
        </ul>
    {{/if}}
     <div class="navUser-item navUser-item--textnew">
                    <div class="navUser-item__item">
                        <span class="navUser-action">
                            {{{theme_settings.halo_top_bar_promotion_text}}}
                        </span>
                    </div>
                </div>

</nav>
