---
product:
    videos:
        limit: {{theme_settings.productpage_videos_count}}
    reviews:
        limit: {{theme_settings.productpage_reviews_count}}
    related_products:
        limit: {{theme_settings.productpage_related_products_count}}
    similar_by_views:
        limit: {{theme_settings.productpage_similar_by_views_count}}
products:
    new:
        limit: 25
---
{{inject 'productId' product.id}}

{{#partial "page"}}
    <div class="halo-productView-top">
        <div class="container">
            <div class="breadcrumbs-product">
                {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}} 
            </div>

            {{> components/products/product-view}}

            {{{region name="product_below_content"}}}

            {{> components/halothemes/product/halo-bundle-products}}            
            
        </div>
    </div>
    

    <div class="halo-productView-bottom">
        {{#if theme_settings.productpage_product_block-1 '==' 'Related'}}
            {{> components/products/related
                products=product.related_products
                productsnew=products.new
                title=theme_settings.productpage_product_block-1-title
                block_id="halo-product-block-1"
                block_limit=product.related_products.length
                block_column=theme_settings.productpage_product_block_col
            }}
        {{else if theme_settings.productpage_product_block-1 '==' 'Customers'}}
            {{> components/products/similar-by-view
                products=product.similar_by_views
                productsnew=products.new
                title=theme_settings.productpage_product_block-1-title
                block_id="halo-product-block-1"
                block_limit=product.similar_by_views.length
                block_column=theme_settings.productpage_product_block_col
            }}
        {{/if}}

        {{#if theme_settings.productpage_product_block-2 '==' 'Related'}}
            {{> components/products/related
                products=product.related_products
                productsnew=products.new
                title=theme_settings.productpage_product_block-2-title
                block_id="halo-product-block-2"
                block_limit=product.related_products.length
                block_column=theme_settings.productpage_product_block_col
            }}
        {{else if theme_settings.productpage_product_block-2 '==' 'Customers'}}
            {{> components/products/similar-by-view
                products=product.similar_by_views
                productsnew=products.new
                title=theme_settings.productpage_product_block-2-title
                block_id="halo-product-block-2"
                block_limit=product.related_products.length
                block_column=theme_settings.productpage_product_block_col
            }}
        {{/if}}
    </div>

    {{{region name="product_banner--global"}}}
    {{{region name="product_banner"}}}

    {{{region name="category_below_content"}}}

    {{> components/products/schema}}

<script defer>
(function(){
    var optionContainer = $('.productView-details');
    var availableOptionColors = BCData.product_attributes.in_stock_attributes;
    var itemsAvailable = availableOptionColors.length > 0;
    var inputValue = '';
    var asideLabel = '';
    console.log('the array : ',availableOptionColors, "buri : ",availableOptionColors.length);
    function selectFirstOptionAvailable(option){
        $('.form-field[data-product-attribute='+ option +'] input').each(function( index ) {
            inputValue = $(this).attr('value');
            asideLabel = $(this).next('label[data-product-attribute-value="'+inputValue+'"]')
            asideLabelDisplaying = asideLabel.attr('style') === undefined;
            console.log('doin1 :', inputValue);
            console.log('doin2 :' , asideLabelDisplaying);
            var numberVariants = $(this)[0].parentElement;
            var label = $("label[for='" + $(this).attr('id') + "']");
            var thisVisible = $(this)[0].nextElementSibling;
            var optionsAvailable = availableOptionColors[0].toString().indexOf("unavailable") === -1;
            console.log('label', $(numberVariants).children(".form-option").length);
            console.log('thisVisible', $(thisVisible));
            console.log('itemsAvailable : ',itemsAvailable);
            console.log('optionsAvailable : ',optionsAvailable);
            if (asideLabelDisplaying && itemsAvailable && optionsAvailable){             
                $(this).click();
                return false;
            }
        });
    }

    optionContainer.one("mouseenter mouseleave", function(e){
        selectFirstOptionAvailable('swatch');
        selectFirstOptionAvailable('set-rectangle');        
    });
    
})();
</script>

{{/partial}}
{{> layout/base}}
